accelerate==1.4.0
datasets==3.3.2
einops==0.8.1
gym==0.26.2
huggingface_hub==0.29.1
hydra-core==1.3.2
jsonlines==4.0.0
matplotlib==3.9.2
mlxu==0.2.0
natsort==8.4.0
numpy==2.1.3
omegaconf==2.3.0
opencv-python==4.11.0.86
pandas==2.2.3
peft==0.14.0
Pillow==11.0.0
requests==2.32.3
tqdm==4.67.1
transformers==4.49.0
trl==0.15.2
wandb==0.19.7